@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@

@**(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@

@import play.api.data.Form
@import helper._
@import models.Customer


@(customerform: Form[Customer])(implicit messages: Messages)

@main("First form in play") {
    <h1>Customer Form</h1>

    @form(action=routes.Application.createCustomer()) {
        @inputText(customerform("Credit"))
        @inputText(customerform("Name"))
        @inputText(customerform("Email"))
        <input type="submit" value="Submit">
    }

}